* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#reset {
  padding: 20px;
  background: linear-gradient(145deg, blue, cyan);
  border: none;
  border-radius: 10px;
  width: 200px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
#contenu {
  position: fixed;
}
.appear {
  color: blue;
  animation: appear 1s forwards;
}
.flex {
  position: relative;
}
@keyframes appear {
  0% {
    opacity: 0;
    font-size: 3rem;
  }
  100% {
    opacity: 1;
    font-size: medium;
  }
}
